<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Fino alla Fine</h1>
    <h2 class="text-white">Inno della Juventus</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign Up', new_user_path, class: 'btn btn-block btn-white' %> <!--link_to 名前 Path-->  
      </div>
      <div class="col-md-3">
        <%= link_to 'Log In', login_path, class: 'btn btn-block btn-white' %> <!--link_to 名前 Path-->
      </div>
    </div>
  </div>
</div>